---
import { db, Headline, eq } from 'astro:db';
import Layout from '../../layouts/Layout.astro';
import Header, { type HeadlineData } from '@components/react/header/header';
import BodyText from '@components/astro/body-text/BodyText.astro';
import Card from '@components/astro/card/Card.astro';
import Footer from '@components/astro/footer/Footer.astro';
import './about.css';
import jasonAboutImage from '@assets/images/stickers/Memoji_About.png';

const headlines = (await db.select().from(Headline).where(eq(Headline.page, 'about'))) as HeadlineData[];
---

<Layout title="Jason Schulz — About" className="about">
  <Header headlines={headlines} defaultImageMetadata={jasonAboutImage} client:visible />
  <section>
    <div class="content-wrapper">
      <div><BodyText /></div>
      <div class="experience-card-column">
        <div class="experience-card-wrapper">
          <Card headline={'LinkedIn'} statement={' '} url="https://linkedin.com/in/jasonpaulso" class="card-sage-green" />
        </div>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
