#cursor {
  display: inline-block;
  margin-left: 0.1em;
  width: 0.08em;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.714);
  animation: blink 1s infinite;
}

.hidden-headline {
  position: absolute;
  z-index: -100;
  opacity: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  margin-top: var(--margin-large);
  gap: var(--margin-large);
  display: flex;
  flex-direction: column;
  transition: height var(--animation-duration) var(--animation-timing-function);
  height: 100%;
}

.header > div {
  align-self: flex-end;
}

.header-title {
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  font-kerning: none;
}

@media screen and (min-width: 640px) {
  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    margin-top: 64px;
    gap: var(--margin-large);
    min-height: 60vh;
  }

  .header-title {
    font-size: var(--font-size-large);
    grid-column: 1;
    grid-row: 1;
    margin-top: 140px;
  }
  .header > div {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: auto;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin-top: 0px;
    gap: 64px;
  }

  .header-title {
    margin-top: 186px;
    font-size: 64px;
  }
  .header > div {
    margin-top: 96px;
  }
}

@media screen and (min-width: 1440px) {
  .header-title {
    font-size: 96px;
    margin-top: 233px;
  }
  .header > div {
    margin-top: 128px;
  }
}
