---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import BodyText from '../components/BodyText.astro';
import ExperienceCard from '../components/ExperienceCard.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Jason Schulz — Software Engineer">
  <PageHeader headline="I’m also a dog dad and a video game aficionado. " sticker="memoji-about" />
  <section>
    <BodyText />
    <div>
      <ExperienceCard headline={'LinkedIn'} statement={' '} variant="3" />
    </div>
  </section>
  <Footer />
</Layout>

<style>
  section {
    margin-top: 80px;
  }

  section > div {
    margin-top: 80px;
    > div:nth-child(1) {
      transform: rotate(4deg);
      margin-right: 0;
      margin-left: auto;
    }
  }

  @media (min-width: 640px) {
    section {
      margin-top: 100px;
    }
  }

  @media (min-width: 1024px) {
    section {
      margin-top: 120px;
    }
  }

  @media (min-width: 1440px) {
    section {
      margin-top: 140px;
    }
  }
</style>
