---
import { db, Headline, eq } from 'astro:db';
import Layout from '../layouts/Layout.astro';
import Header, { type HeadlineData } from '@components/react/header/header';
import BodyText from '@components/astro/body-text/BodyText.astro';
import Card from '@components/astro/card/Card.astro';
import Footer from '@components/astro/footer/Footer.astro';

import jasonAboutImage from '@assets/images/stickers/Memoji_About.png';

const headlines = (await db.select().from(Headline).where(eq(Headline.page, 'about'))) as HeadlineData[];
---

<Layout title="Jason Schulz — Software Engineer">
  <Header headlines={headlines} defaultImageMetadata={jasonAboutImage} client:visible />
  <section>
    <div class="content-wrapper">
      <div><BodyText /></div>
      <div class="experience-card-column">
        <div class="experience-card-wrapper">
          <Card headline={'LinkedIn'} statement={' '} url="https://linkedin.com/in/jasonpaulso" class="card-sage-green" />
        </div>
      </div>
    </div>
  </section>
  <Footer />
</Layout>

<style>
  :root {
    footer .cards {
      align-self: flex-start;
    }
    footer .cards > :nth-child(1):only-child {
      transform: rotate(-6deg);
    }
  }
  section {
    margin-top: 80px;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .experience-card-wrapper {
    transform: rotate(4deg);
    margin-right: 0;
    margin-left: auto;
  }
  .experience-card-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  @media (min-width: 640px) {
    section {
      margin-top: 100px;
    }
  }

  @media (min-width: 1024px) {
    section {
      margin-top: 120px;
    }

    .experience-card-wrapper {
      margin-bottom: -200px;
    }
    .content-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1440px) {
    section {
      margin-top: 140px;
    }
  }
</style>
