---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import ExperienceCard from '../components/ExperienceCard.astro';
---

<Layout title="Jason Schulz — Software Engineer">
  <main>
    <Nav />
    <ExperienceCard />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
