---

---

<>
  <p>
    As a driven software engineer with a focus on frontend development, I bring a blend of technical prowess and creative problem-solving to every project I undertake. Throughout my career, I have demonstrated expertise in various aspects of the
    software development lifecycle, from planning and building landing pages at Front to developing and deploying new features for the Microsoft 365 suite.
  </p><p>My proficiency in technologies such as React, TypeScript, Next.js, GraphQL, and Azure DevOps has enabled me to consistently deliver high-quality, scalable solutions that enhance user experiences and drive business results.</p>

  <p>
    I take pride in my ability to adapt to new technologies and frameworks, as evidenced by my successful track record in transitioning legacy systems to modern infrastructure, optimizing development processes, and implementing best practices. If
    you're seeking a dedicated frontend-focused engineer who can bring a unique fusion of technical expertise and imaginative spark to your next project, let's connect. I am excited to explore how my skills and experience can contribute to your
    team's success.
  </p>
</>

<style>
  p {
    color: var(--color-primary);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-small);
    margin-bottom: var(--margin-small);
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }

  @media screen and (min-width: 640px) {
    p {
      font-size: 14px;
      margin-bottom: 14px;
    }
  }

  @media screen and (min-width: 768px) {
    p {
      font-size: var(--font-size-medium);
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: 1024px) {
    p {
      font-size: var(--font-size-large);
      margin-bottom: 20px;
    }
  }
</style>
