---
import Sticker from './Sticker.astro';

const { showsAttribution } = Astro.props;
---

<footer>
  {showsAttribution && <Sticker stickerType="logo-as" />}
  <h2>&copy; 2024</h2>
</footer>

<style>
  footer {
    color: #222;
    text-align: center;
    font-family: 'Helvetica Now Display';
    margin-top: 80px;
  }

  h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 32px */
  }

  @media screen and (min-width: 640px) {
    footer {
      margin-top: 100px;
    }

    h2 {
      font-size: 64px;
      line-height: 100%; /* 64px */
    }
  }

  @media screen and (min-width: 1024px) {
    footer {
      margin-top: 120px;
    }

    h2 {
      font-size: 96px;
      line-height: 100%; /* 96px */
    }
  }

  @media screen and (min-width: 1440px) {
    footer {
      margin-top: 140px;
    }

    h2 {
      font-size: 128px;
      line-height: 100%; /* 128px */
    }
  }
</style>
