---
const pathname = Astro.url.pathname;
console.log('🚀 ~ pathname:', pathname);
// const currentPath = pathname.slice(1);
---

<nav class={'nav-container'}>
  <a class={pathname === '/' ? 'active' : ''} href={'/'}>Home</a>
  <a class={pathname === '/about/' ? 'active' : ''} href={'/about/'}>About</a>
  <a class={pathname === '/email/' ? 'active' : ''} href={'mailto:jason@schulz.studio'}>Email</a>
</nav>

<style>
  nav {
    position: sticky;
    top: 12px;
    margin: 0 auto;
    display: flex;
    width: 296px;
    padding: 4px;
    justify-content: space-around;
    flex-shrink: 0;
    background: #fff;
    border-radius: 10px;
    z-index: 1000;
  }

  a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #222;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    font-family: 'Helvetica Now Display';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    padding: 11.5px 0;
    height: 31px;
    transition: background 0.2s ease-in-out;
  }

  a.active,
  a:hover {
    background: #ffd600;
  }

  nav:hover a:not(:hover) {
    background: #fff;
  }

  @media screen and (min-width: 640px) {
    nav {
      width: 396px;
      padding: 6px;
      border-radius: 14px;
      top: 24px;
    }

    a {
      padding: 13.5px 0;
      border-radius: 8px;
      font-size: 12px;
      height: 36px;
    }
  }

  @media screen and (min-width: 1024px) {
    nav {
      width: 424px;
      padding: 8px;
      border-radius: 16px;
      top: 36px;
    }

    a {
      padding: unset;
      border-radius: 8px;
      font-size: 14px;
      height: 40px;
    }
  }

  @media screen and (min-width: 1440px) {
    nav {
      width: 464px;
      padding: 10px;
      border-radius: 20px;
      top: 48px;
    }

    a {
      padding: 17.5px 0;
      border-radius: 10px;
      font-size: 16px;
      height: 46px;
    }
  }
</style>
