.nav-container {
  position: sticky;
  top: 12px;
  margin: 0 auto;
  display: flex;
  width: 296px;
  padding: 4px;
  justify-content: space-around;
  flex-shrink: 0;
  background: var(--color-white);
  border-radius: 10px;
  z-index: 1000;
  pointer-events: none;
  column-gap: 4px;
}
.nav-container a {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  font-family: 'Helvetica Now Display';
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  line-height: 110%;
  padding: 11.5px 0;
  height: 31px;
  position: relative;
  z-index: 1;
  pointer-events: auto;
}
.nav-container a img {
  opacity: 0;
  width: 1.5em;

  margin-left: 5px;
  transition: opacity 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  animation: pulse 2s ease infinite;
  position: absolute;
  right: 5%;
}
.nav-container a:hover img {
  visibility: visible;
  opacity: 1;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(110%);
  }
  50% {
    transform: scale(90%);
  }
}

.nav-container .slider {
  position: absolute;
  left: 0;
  background-color: var(--highlight-primary);
  z-index: 0;
  display: none;
  transition: transform 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  width: 100%;
  height: 31px;
  border-radius: 6px;
  will-change: transform;
  background: linear-gradient(to bottom, #ffdb4d, #ffcc00);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-container a:hover + .slider {
  transition: transform 0.3s cubic-bezier(0, 0.55, 0.45, 1);
}
@media screen and (min-width: 640px) {
  .nav-container {
    width: 396px;
    padding: 6px;
    border-radius: 14px;
    top: 24px;
    column-gap: 6px;
  }
  .nav-container a {
    padding: 13.5px 0;
    border-radius: 8px;
    font-size: 12px;
    height: 36px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-container {
    width: 424px;
    padding: 8px;
    border-radius: 16px;
    top: 36px;
    column-gap: 8px;
  }
  .nav-container a {
    padding: unset;
    border-radius: 8px;
    font-size: 14px;
    height: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .nav-container {
    width: 464px;
    padding: 10px;
    border-radius: 20px;
    top: 48px;
    column-gap: 10px;
  }
  .nav-container a {
    padding: 17.5px 0;
    border-radius: 10px;
    font-size: 16px;
    height: 46px;
  }
}
