.sticker {
  height: 120px;
  width: 120px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 15px;
  border-radius: 100px;
  background: var(--color-secondary);
  display: flex;
  position: relative;
  transition: all var(--animation-duration) var(--animation-timing-function);
  background-color: var(--color-sunflower-yellow);
  min-width: 0;
}

.sticker img {
  object-fit: contain;
  width: 70px;
  height: 70px;
  max-width: 100%;
  max-height: 100%;
}

.animate-rotation {
  animation: partial-rotation 1s ease infinite;
}
.animate-skew {
  animation: skew 4s ease infinite;
}
.animate-sizzle {
  animation: sizzle 1s ease infinite;
}
.animate-levitate {
  animation: levitate 3s ease infinite;
}
.animate-pulse {
  animation: pulse 2s ease infinite;
}
.animate-pant {
  animation: pant 0.5s ease infinite;
}
@keyframes pant {
  0%,
  100% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(5%);
  }
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(110%);
  }
  50% {
    transform: scale(90%);
  }
}

@keyframes levitate {
  0%,
  100% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
}

@keyframes sizzle {
  0%,
  100% {
    transform: translate(-15%, -15%);
  }
  50% {
    transform: translate(15%, 15%);
  }
}

@keyframes partial-rotation {
  0%,
  100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

@keyframes skew {
  0%,
  100% {
    transform: skew(-10deg);
  }
  50% {
    transform: skew(10deg);
  }
}

@media screen and (min-width: 640px) {
  .sticker {
    padding: 20px;
    border-radius: 100px;
    height: 150px;
    width: 150px;
  }

  .sticker img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .sticker {
    padding: 25px;
    height: 180px;
    width: 180px;
  }

  .sticker img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .sticker {
    padding: 25px;
    height: 210px;
    width: 210px;
  }

  .sticker img {
    width: 120px;
    height: 120px;
  }
}
