---
import Card, { type Props as CardProps } from '@components/astro/card/Card.astro';
import './cards.css';

const { cards } = Astro.props;

interface Props {
  cards: CardProps[];
}
---

<section class="cards">
  {
    cards.map((card) => {
      return <Card {...card} />;
    })
  }
</section>
