---
import Nav from '../components/Nav.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;

const baseVars = {
  padding: '12px 12px 80px 12px',
  color: 'white',
};

const smallMediaVars = {
  smallPadding: '24px 24px 100px 24px',
  smallMaxWidth: '640px',
};

const mediumMediaVars = {
  mediumPadding: '48px 48px 120px 48px',
  mediumMaxWidth: '1024px',
};

const largeMediaVars = {
  largePadding: '64px 64px 140px 64px',
  largeMaxWidth: '1440px',
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jason Schulzes Homepage" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.ico?" />
    <link rel="icon" sizes="196x196" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <Nav />
      <slot />
    </main>
  </body>
</html>

<style is:global define:vars={{ ...baseVars, ...smallMediaVars, ...mediumMediaVars, ...largeMediaVars }}>
  :root {
  }

  html {
    background: #f8f7f1;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* transition: all 1s ease; */
  }
  code {
  }

  @font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/helvtica-now-display/HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/helvtica-now-display/HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  main {
    margin: auto;
    padding: var(--padding);
    max-width: var(--maxWidth);
    color: var(--color);
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    width: 100%;
  }

  @media (min-width: 640px) {
    main {
      max-width: var(--smallMaxWidth);
      padding: var(--smallPadding);
    }
  }

  @media (min-width: 1024px) {
    main {
      max-width: var(--mediumMaxWidth);
      padding: var(--mediumPadding);
    }
  }

  @media (min-width: 1440px) {
    main {
      max-width: var(--largeMaxWidth);
      padding: var(--largePadding);
    }
  }
</style>
