---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jason Schulzes Homepage" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    background: #f8f7f1;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  code {
  }

  @font-face {
    font-family: 'Helvetica Now Display';
    src: url('/fonts/helvtica-now-display/HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
