---
import antonLogoImage from '../../../../public/images/stickers/as-logo.png';
import Cards from '../cards/Cards.astro';
import './footer.css';
const footerCardData = {
  headline: 'AS',
  url: 'https://anton.schulz.studio',
  variant: 3,
  logo: antonLogoImage,
  subtitle: 'Designed with ❤️ by Anton Schulz.',
  class: 'card-sage-green',
};
---

<footer class="footer">
  <Cards cards={[footerCardData]} />
  <h2>&copy; 2024</h2>
</footer>
